form {
    display: flex;
    flex-direction: column;
    margin: 30px 40px;
    width: 350px;
}

mat-form-field {
    margin-bottom: 20px;
}

.to-left {
    margin-left: auto;
    width: fit-content;
}

button {
    margin-right: 10px;
}