<form [formGroup]="editSpentForm" (ngSubmit)="onSubmit()">

    <h1>Edit spent</h1>

    <mat-form-field>
        <mat-label>Date and Time</mat-label>
        <input type="datetime-local" matInput [formControl]="date">
        <mat-error *ngIf="date.hasError('required')">Date and Time are required</mat-error>
        <mat-error></mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Money Source</mat-label>
        <mat-select matInput [formControl]="moneySourceId">
            <mat-option *ngFor="let ms of moneySources| async" value="{{ ms.id }}" >{{ ms.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="moneySourceId.hasError('required')">Money Source is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input type="number" matInput [formControl]="amount">
        <mat-error *ngIf="amount.hasError('required')">Amount required</mat-error>
        <mat-error *ngIf="amount.hasError('min')">Amount must be positive</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <textarea matInput type="text" rows="7" [formControl]="comment"></textarea>
        <mat-error *ngIf="comment.hasError('maxlength')">Max length is 2500 symbols. You have {{ comment.value?.length }}.</mat-error>
    </mat-form-field>

    <div class="to-left">
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Close</button>
        <button mat-raised-button color="primary" [disabled]="!editSpentForm.valid" type="submit">Save</button>
    </div>
    
    
</form>