<mat-card>
    <mat-card-subtitle>{{ spent.date| date:'dd MMM, yyyy hh:mm' }}</mat-card-subtitle>
    <mat-card-content>
        Sum: {{ spent.amount| currency:'USD' }}
        <br>
        {{ spent.comment }}
    </mat-card-content>
    <mat-card-footer>
        <a routerLink="sources">{{ spent.moneySourceName }}</a>
    </mat-card-footer>
    <mat-card-actions class="f-left">
         <button mat-fab color="primary" (click)="onEdit()">
             <mat-icon>edit</mat-icon>
         </button>

         <button mat-fab (click)="onDelete()">
            <mat-icon>delete</mat-icon>
         </button>
    </mat-card-actions>
</mat-card>