<mat-sidenav-container class="h-100">
    <mat-sidenav #create_sidenav> 
        <app-spent-create  (created)="onCreate()"></app-spent-create>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container">
            <button mat-fab color="primary" (click)="create_sidenav.toggle()">
                <mat-icon>add</mat-icon>
            </button>
            <app-spent-list></app-spent-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

